
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
  }
  
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  

  